Asset-Security/Node-Red/Node-Red Flow Info.txt
[{"id":"8c987d7d.067c4","type":"tab","label":"Deployement Flow","disabled":false,"info":""},{"id":"6849c8fd.490448","type":"trigger","z":"8c987d7d.067c4","name":"Send Email Unless Reset","op1":"","op2":"Test Message","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":740,"y":440,"wires":[["bb18cd44.1620a"]]},{"id":"e0470976.fd3c48","type":"ttn event","z":"8c987d7d.067c4","name":"Storage Locker","app":"d70199d2.6c2808","dev_id":"storage_locker","event":"#","x":200,"y":300,"wires":[["b54d64e0.b680d8"]]},{"id":"ebf4c8cf.e7fe08","type":"ttn event","z":"8c987d7d.067c4","name":"Work Bench","app":"d70199d2.6c2808","dev_id":"workbench","event":"#","x":190,"y":240,"wires":[["b54d64e0.b680d8"]]},{"id":"b54d64e0.b680d8","type":"change","z":"8c987d7d.067c4","name":"Set Reset True","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["6849c8fd.490448"]]},{"id":"79bbe20f.7844ec","type":"ttn event","z":"8c987d7d.067c4","name":"Exit 1","app":"d70199d2.6c2808","dev_id":"exit_1","event":"#","x":170,"y":380,"wires":[["6849c8fd.490448"]]},{"id":"eb213890.b8dd98","type":"ttn event","z":"8c987d7d.067c4","name":"Exit 2","app":"d70199d2.6c2808","dev_id":"exit_2","event":"#","x":170,"y":440,"wires":[["6849c8fd.490448"]]},{"id":"c78110d5.ee159","type":"inject","z":"8c987d7d.067c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":180,"wires":[["b54d64e0.b680d8"]]},{"id":"135ed9a3.867666","type":"inject","z":"8c987d7d.067c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":500,"wires":[["6849c8fd.490448"]]},{"id":"bb18cd44.1620a","type":"e-mail","z":"8c987d7d.067c4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"tom@taedwards.com","dname":"","x":1110,"y":440,"wires":[]},{"id":"d70199d2.6c2808","type":"ttn app","z":"","appId":"tb_asset_tracker","accessKey":"ttn-account-v2.4RHyQR4gyUzBizIceHUTW6QBAOGd1G7dN56ZloMah1o","discovery":"discovery.thethingsnetwork.org:1900"}]